<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="azureDocumentDbConfigGroup">
      <section name="azureDocumentDbConfig" type="Hackaton2015.DocumentDb.Framework.AzureDocumentDbConfigSection, Hackaton2015.DocumentDb.Framework" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <azureDocumentDbConfigGroup>
    <azureDocumentDbConfig>
	    <connection endpointUrl="https://loggingdb.documents.azure.com:443/" 
                  key="3wsBb/bezEWl07MKuccaCUu4lvOL3JgduPl2ZTFcWqr0Lxj/WTvXTkGtWq8P7C4YdOmZxbh9BnSnxIJIK0L1iA==" />
    </azureDocumentDbConfig>    
  </azureDocumentDbConfigGroup>
  

</configuration>