<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="to" value="matias@kinetica-solutions.com"/>
      <add key="from" value="matias@kinetica-solutions.com"/>
      <add key="subject" value="Kinetica Happyness Survey"/>
      <add key="body" value="email.html"/>
      <add key="username" value=""/>
      <add key="password" value=""/>
    </appSettings>
</configuration>